body {
  background-color: antiquewhite;
  margin: 0px;
  background-attachment: fixed;
  background-size: cover;
  font-family: cursive;
}

.container img {
  width: 30px;
}
/* para que baje a las secciones */
html {
  scroll-behavior: smooth;
}

footer {
  bottom: 0;
  width: 100%;
}
/*cambio de color a contactame*/
#Contacto {
  background-color: aqua;
}

.imgfooter {
  width: 30px;
}
