body{
    background-color:antiquewhite;
    margin: 0px;
    background-attachment: fixed;
    background-size: cover;
    font-family: cursive;
}

.container img{
    width: 30px;
}

html{
	scroll-behavior: smooth;
}
footer {
    bottom: 0;
    width: 100%;
    
    }

#Contacto{
    background-color:aqua;
}

.imgfooter{
    width: 30px;
}
